<app-header></app-header>

<section class="container">
  <h1>Feature List</h1>
</section>

<section class="container">
  <a class="btn btn-success pull-right"
    ui-sref="app.feature-create">
    Submit Feature
  </a>
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="search">Search</label>
      <input type="text" class="form-control" id="search" placeholder="Search..." 
        ng-model="searchFeatures">
    </div>
  </form>
  
</section>

<section class="container">
  <table class="table table-striped table-hover">
    <thead>
      <th>
        <span ng-click="$ctrl.sortType = 'status'; $ctrl.sortReverse = !$ctrl.sortReverse">
          Status
          <span ng-show="$ctrl.sortType == 'status' && !$ctrl.sortReverse" class="ion-arrow-down-b"></span>
          <span ng-show="$ctrl.sortType == 'status' && $ctrl.sortReverse" class="ion-arrow-up-b"></span>
        </span>
      </th>
      <th>
        <span ng-click="$ctrl.sortType = 'subject'; $ctrl.sortReverse = !$ctrl.sortReverse">
          Subject
          <span ng-show="$ctrl.sortType == 'subject' && !$ctrl.sortReverse" class="ion-arrow-down-b"></span>
          <span ng-show="$ctrl.sortType == 'subject' && $ctrl.sortReverse" class="ion-arrow-up-b"></span>
        </span>
      </th>
      <th>
        <span ng-click="$ctrl.sortType = 'name'; $ctrl.sortReverse = !$ctrl.sortReverse">
          Original Requester
          <span ng-show="$ctrl.sortType == 'name' && !$ctrl.sortReverse" class="ion-arrow-down-b"></span>
          <span ng-show="$ctrl.sortType == 'name' && $ctrl.sortReverse" class="ion-arrow-up-b"></span>
        </span>
      </th>
      <th>
        <span ng-click="$ctrl.sortType = 'totalValue'; $ctrl.sortReverse = !$ctrl.sortReverse">
          Total Value
          <span ng-show="$ctrl.sortType == 'totalValue' && !$ctrl.sortReverse" class="ion-arrow-down-b"></span>
          <span ng-show="$ctrl.sortType == 'totalValue' && $ctrl.sortReverse" class="ion-arrow-up-b"></span>
        </span>
      </th>
      <th>
        <span ng-click="$ctrl.sortType = 'date'; $ctrl.sortReverse = !$ctrl.sortReverse">
          Date
          <span ng-show="$ctrl.sortType == 'date' && !$ctrl.sortReverse" class="ion-arrow-down-b"></span>
          <span ng-show="$ctrl.sortType == 'date' && $ctrl.sortReverse" class="ion-arrow-up-b"></span>
        </span>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="feature in $ctrl.features | orderBy:$ctrl.sortType:$ctrl.sortReverse | filter:searchFeatures"
      ui-sref="app.feature({id:feature.$id})">
        <td><span class="label label-success">{{feature.status}}</span></td>
        <td>{{feature.subject}}</td>
        <td>{{feature.accountsMeta[0].name}}</td>
        <td>{{feature.totalValue | currency}}</td>
        <td>{{feature.dateCreated | date }}</td>
      </tr>
    </tbody>
  </table>
</section>