<main>
  <section class="container labels"
    ng-if="$ctrl.admin === true">
    <div class="row">
      <div class="col-sm-4">
        <h4>Labels</h4>
        <div class="row">
          <div class="col-sm-12">
            <form class="label-form" ng-submit="$ctrl.addLabel($ctrl.labelForm)">
              <fieldset>
                <div class="form-group">
                  <label for="label-name" class="control-label">Name</label>
                  <input type="text" class="form-control" id="label-name" required
                    ng-model="$ctrl.labelForm.name">
                </div>
                <div class="form-group">
                  <label for="label-description" class="control-label">Description</label>
                  <input type="text" class="form-control" id="label-description"
                    ng-model="$ctrl.labelForm.description">
                </div>
              </fieldset>
              <button type="submit" class="btn btn-info pull-right" >Add Label</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <h4>Create New Location</h4>
        <div class="row">
          <div class="col-sm-12">
            <form class="location-form" ng-submit="$ctrl.addLocation($ctrl.locationForm)">
              <fieldset>
                <div class="form-group">
                  <label for="location-name" class="control-label">Name</label>
                  <input type="text" class="form-control" id="location-name" required
                    ng-model="$ctrl.locationForm.name">
                </div>
                <div class="form-group">
                  <label for="location-description" class="control-label">Description</label>
                  <input type="text" class="form-control" id="location-description"
                    ng-model="$ctrl.locationForm.description">
                </div>
                <div class="form-group">
                  <label for="location" class="control-label">Labels</label>
                  <select class="form-control" multiple size="10"
                    ng-model="$ctrl.locationForm.labels">
                    <option ng-repeat="label in $ctrl._LabelService._labels | orderBy: 'displayName'" value="{{ label.$id }}">{{ label.displayName }} {{ label.description ? '(' + label.description + ')' : '' }}</option>
                  </select>
                </div>
              </fieldset>
              <button type="submit" class="btn btn-info pull-right">Add Location</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h4>Add Label To Existing Location</h4>
            <form class="label-to-location-form"
              ng-submit="$ctrl.addLabelToLocation($ctrl.labelToLocationForm)">
              <fieldset>
                <div class="form-group">
                  <label for="labels" class="control-label">Labels to Add</label>
                  <select class="form-control" multiple size="10"
                    ng-model="$ctrl.labelToLocationForm.labels">
                    <option ng-repeat="label in $ctrl._LabelService._labels | orderBy: 'displayName'" value="{{ label.$id }}">{{ label.displayName }} {{ label.description ? '(' + label.description + ')' : '' }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="location" class="control-label">Location</label>
                  <select class="form-control"
                  ng-model="$ctrl.labelToLocationForm.location">
                  <option
                  ng-repeat="location in $ctrl._LabelService._locations"
                  ng-if="!location.deleted"
                  value="{{ location.$id }}">{{ location.displayName }} {{ location.description ? '(' + location.description + ')' : '' }}</option>
                </select>
                </div>
              </fieldset>
              <button type="submit" class="btn btn-info pull-right">Add Labels to Location</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
          <ul class="list-unstyled admin-label-list">
            <li
              ng-repeat="location in $ctrl.locationAndLabelList"
              ng-if="!location.deleted">
                {{ location.displayName }}
                <span ng-if="location.description"> ({{ location.description }})</span>
              <i ng-click="$ctrl.removeLocation(location.$id)" class="ion-close-circled"></i>
              <ul class="list-unstyled ml-md">
                <li ng-repeat="label in location.labels">
                  {{ label.displayName }}
                  <span ng-if="label.description"> ({{ label.description }})</span>
                  <i ng-click="$ctrl.removeLabelFromLocation(location.$id, $index)" class="ion-close-circled"></i>
                </li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </section>
</main>
