<div class="comment">
    <div class="comment__meta">
        <span class="mod-options pull-right" ng-show="$ctrl.canModify">
            <i class="ion-trash-a" ng-click="$ctrl.deleteCb()"></i>
        </span>
        <span class="comment__meta__name">{{$ctrl.data.authorMeta.firstName}} {{$ctrl.data.authorMeta.lastName}}</span> <span class="comment__meta__dept small">({{$ctrl.data.authorMeta.department}})</span>
        <span class="comment__meta__date small">&mdash; {{ $ctrl.data.dateCreated | date:'short' }}</span>
    </div>
    <div class="comment__message">
        {{ $ctrl.data.message }}
    </div>
</div>
