<app-header></app-header>

<section class="container">
  <h1>Create new request</h1>
</section>

<section class="container">
  <form class="form-horizontal feature-form" ng-submit="$ctrl.addAccountAndFeature()">
    <fieldset ng-disabled="$ctrl.featureForm.isSubmitting">
      <div class="form-group">
        <label for="subject" class="col-sm-2 control-label">Subject</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="subject"
            ng-model="$ctrl.featureForm.subject">
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <input type="textarea" class="form-control" id="description"
            ng-model="$ctrl.featureForm.description">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>Account Info</h3>
          <hr/>
        </div>
      </div>
      <div class="form-group">
        <label for="account-type" class="col-sm-2 control-label">Platform</label>
        <div class="col-sm-10">
          <select class="form-control" 
            ng-model="$ctrl.accountForm.platform">
            <option>PRN customer on the OMC</option>
            <option>MV (and won’t upgrade)</option>
            <option>Net new C3 customer (no legacy platform)</option>
            <option>On C3 (upgraded from CPRE)</option>
            <option>On C3 (upgraded from CP)</option>
            <option>On C3 (upgraded from MyG)</option>
            <option>On C3 (upgraded from PRWeb subscription)</option>
            <option>On C3 (upgraded from PRN Agility)</option>
            <option>On CPRE (and won't upgrade)</option>
            <option>On CP (and won't upgrade)</option>
            <option>On MyG (and won't upgrade)</option>
            <option>PRWeb subscription (and won't upgrade)</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="account-name" class="col-sm-2 control-label">Account Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="account-name"
            ng-model="$ctrl.accountForm.name">
        </div>
      </div>
      <div class="form-group">
        <label for="account-type" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
          <select class="form-control" 
            ng-model="$ctrl.accountForm.country">
            <option>USA</option>
            <option>UK</option>
            <option>Canada</option>
            <option>Germany</option>
            <option>France</option>
            <option>Nordics</option>
            <option>LatAm</option>
            <option>Asia</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="account-type" class="col-sm-2 control-label">Account Type</label>
        <div class="col-sm-10">
          <select class="form-control" 
            ng-model="$ctrl.accountForm.accountType">
            <option>Current customer</option>
            <option>Lost customer</option>
            <option>Prospect in-cycle</option>
            <option>Prospect loss</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="cision-point-id" class="col-sm-2 control-label">Account ID</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="cision-point-id"
            ng-model="$ctrl.accountForm.cid">
        </div>
      </div>
      <div class="form-group">
        <label for="account-value" class="col-sm-2 control-label">Account Value</label>
        <div class="col-sm-2">
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="account-value"
              ng-model="$ctrl.accountForm.value">
          </div>
        </div>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-success pull-right">Submit</button>
  </form>
</section>