<div class="flex-table">
    <div class="flex-table-row header">
        <div class="flex-table-cell width-7">
            Summary
        </div>
        <div class="flex-table-cell width-2 text-right">
            Accounts
        </div>
        <div class="flex-table-cell width-3 text-right">
            Value
        </div>
    </div>
    <div class="flex-table-row"
        ng-repeat="feature in $ctrl.data">
        <div class="flex-table-cell width-7">
            <a ui-sref="app.feature-detail({id:feature.$id})">
                {{feature.subject}}
            </a>
        </div>
        <div class="flex-table-cell width-2 text-right">
            {{feature.accounts.length}}
        </div>
        <div class="flex-table-cell width-3 text-right">
            {{feature.totalValue | currency}}
        </div>
    </div>
</div>
