<div class="flex-table">
    <div class="flex-table-row header">
        <div class="flex-table-cell width-6">
            Summary
        </div>
        <div class="flex-table-cell width-3 text-right">
            Accounts
        </div>
        <div class="flex-table-cell width-3 text-right">
            Value
        </div>
    </div>
    <div class="flex-table-row">
        <div class="flex-table-cell width-6">
            Summary 1
        </div>
        <div class="flex-table-cell width-3 text-right">
            7
        </div>
        <div class="flex-table-cell width-3 text-right">
            $980,002,456
        </div>
    </div>
    <div class="flex-table-row">
        <div class="flex-table-cell width-6">
            Summary 2
        </div>
        <div class="flex-table-cell width-3 text-right">
            4
        </div>
        <div class="flex-table-cell width-3 text-right">
            $80,002,456
        </div>
    </div>
    <div class="flex-table-row">
        <div class="flex-table-cell width-6">
            Summary 1
        </div>
        <div class="flex-table-cell width-3 text-right">
            7
        </div>
        <div class="flex-table-cell width-3 text-right">
            $980,002,456
        </div>
    </div>
    <div class="flex-table-row">
        <div class="flex-table-cell width-6">
            Summary 2
        </div>
        <div class="flex-table-cell width-3 text-right">
            4
        </div>
        <div class="flex-table-cell width-3 text-right">
            $80,002,456
        </div>
    </div>
    <div class="flex-table-row">
        <div class="flex-table-cell width-6">
            Summary 1
        </div>
        <div class="flex-table-cell width-3 text-right">
            7
        </div>
        <div class="flex-table-cell width-3 text-right">
            $980,002,456
        </div>
    </div>
    <div class="flex-table-row">
        <div class="flex-table-cell width-6">
            Summary 2
        </div>
        <div class="flex-table-cell width-3 text-right">
            4
        </div>
        <div class="flex-table-cell width-3 text-right">
            $80,002,456
        </div>
    </div>
    <div class="flex-table-row">
        <div class="flex-table-cell width-6">
            Summary 1
        </div>
        <div class="flex-table-cell width-3 text-right">
            7
        </div>
        <div class="flex-table-cell width-3 text-right">
            $980,002,456
        </div>
    </div>
    <div class="flex-table-row">
            <div class="flex-table-cell width-6">
                Summary 1
            </div>
            <div class="flex-table-cell width-3 text-right">
                7
            </div>
            <div class="flex-table-cell width-3 text-right">
                $980,002,456
            </div>
        </div>
</div>
