<h5>Status</h5>
<div class="checkbox"
  ng-repeat="status in $ctrl.statusList">
  <label>
    <input
      type="checkbox"
      value="{{status}}"
      name="$ctrl.filterParams.status[]"
      ng-checked="$ctrl.filterParams.status.indexOf(status) > -1"
      ng-click="$ctrl.toggleStatus(status)"
    > {{status}}
  </label>
</div>
<h5>Labels</h5>
<button class="btn btn-default btn-xs"
  ng-click="$ctrl.uncheckAllLabels()"
  ng-disabled="$ctrl.filterParams.labels.length === 0">Uncheck All</button>
<button class="btn btn-default btn-xs"
  ng-click="$ctrl.checkAllLabels()"
  ng-disabled="$ctrl.filterParams.labels.length === $ctrl._LabelService._labels.length + 1">Check All</button>
<div class="checkbox">
  <label>
    <input type="checkbox" value="undefined" name="$ctrl.filterParams.labels[]" ng-checked="$ctrl.filterParams.labels.indexOf('undefined') > -1" ng-click="$ctrl.toggleLabel('undefined')"> No Label
  </label>
</div>
<div class="checkbox" ng-repeat="label in $ctrl.labelList">
  <label>
    <input type="checkbox" value="{{label}} 
      "name="$ctrl.filterParams.labels[]"
      ng-checked="$ctrl.filterParams.labels.indexOf(label) > -1"
      ng-click="$ctrl.toggleLabel(label.$id)"> {{label.displayName}}
  </label>
</div>
<h5>Date Range</h5>
<h5>Value Range</h5>