<h5>Status 
  <span class="badge">{{ $ctrl.filterParams.status.length }}</span> 
  <i class="filter-collapse" ng-class="{'ion-ios-arrow-down': !statusCollapse, 'ion-ios-arrow-up': statusCollapse}" ng-click="statusCollapse = !statusCollapse"></i>
</h5>
<div uib-collapse="!statusCollapse">
  <button class="btn btn-default btn-xs"
    ng-click="$ctrl.uncheckAllStatuses()"
    ng-disabled="$ctrl.filterParams.status.length === 0">Uncheck All</button>
  <button class="btn btn-default btn-xs"
    ng-click="$ctrl.checkAllStatuses()"
    ng-disabled="$ctrl.filterParams.status.length === $ctrl.statusList.length">Check All</button>
  <div class="checkbox"
    ng-repeat="status in $ctrl.statusList">
    <label>
      <input
        type="checkbox"
        value="{{status}}"
        name="$ctrl.filterParams.status[]"
        ng-checked="$ctrl.filterParams.status.indexOf(status) > -1"
        ng-click="$ctrl.toggleStatus(status)"
      > {{status}}
    </label>
  </div>
</div>

<h5>Workflow
  <span class="badge">{{ $ctrl.filterParams.locations.length }}</span>
  <i class="filter-collapse" ng-class="{'ion-ios-arrow-down': !locationCollapse, 'ion-ios-arrow-up': locationCollapse}" ng-click="locationCollapse = !locationCollapse"></i>

</h5>

<div uib-collapse="!locationCollapse">
  <button class="btn btn-default btn-xs" ng-click="$ctrl.uncheckAllLocations()" ng-disabled="$ctrl.filterParams.locations.length === 0">Uncheck All</button>
  <button class="btn btn-default btn-xs" ng-click="$ctrl.checkAllLocations()" ng-disabled="$ctrl.filterParams.locations.length === $ctrl.locationList.length + 1">Check All</button>
  <div class="checkbox mb-lg">
    <label>
      <input type="checkbox" value="undefined" name="$ctrl.filterParams.locations[]" ng-checked="$ctrl.filterParams.locations.indexOf('undefined') > -1"
        ng-click="$ctrl.toggleLocation('undefined')"> No Workflow
    </label>
  </div>
  <div class="checkbox" ng-repeat="location in $ctrl.locationList">
    <label>
      <input type="checkbox" value="{{location}}"
        name="$ctrl.filterParams.locations[]"
        ng-checked="$ctrl.filterParams.locations.indexOf(location) > -1"
        ng-click="$ctrl.toggleLocation(location.$id)"> {{location.displayName}}
    </label>
  </div>
</div>

<h5>Labels 
  <span class="badge">{{ $ctrl.filterParams.labels.length }}</span> 
  <i class="filter-collapse" ng-class="{'ion-ios-arrow-down': !labelCollapse, 'ion-ios-arrow-up': labelCollapse}" 
    ng-click="labelCollapse = !labelCollapse"></i>

</h5>

<div uib-collapse="!labelCollapse">
  <button class="btn btn-default btn-xs"
    ng-click="$ctrl.uncheckAllLabels()"
    ng-disabled="$ctrl.filterParams.labels.length === 0">Uncheck All</button>
  <button class="btn btn-default btn-xs"
    ng-click="$ctrl.checkAllLabels()"
    ng-disabled="$ctrl.filterParams.labels.length === $ctrl._LabelService._labels.length + 1">Check All</button>
  <div class="checkbox mb-lg">
    <label>
      <input type="checkbox" value="undefined" name="$ctrl.filterParams.labels[]" ng-checked="$ctrl.filterParams.labels.indexOf('undefined') > -1" ng-click="$ctrl.toggleLabel('undefined')"> No Label
    </label>
  </div>
  <div class="checkbox" ng-repeat="label in $ctrl.labelList">
    <label>
      <input type="checkbox" value="{{label}} 
        "name="$ctrl.filterParams.labels[]"
        ng-checked="$ctrl.filterParams.labels.indexOf(label) > -1"
        ng-click="$ctrl.toggleLabel(label.$id)"> {{label.displayName}}
    </label>
  </div>
</div>


<h5>Misc
  <!-- <span class="badge">{{ $ctrl.filterParams..length }}</span> -->
  <i class="filter-collapse" ng-class="{'ion-ios-arrow-down': !miscCollapse, 'ion-ios-arrow-up': miscCollapse}" ng-click="miscCollapse = !miscCollapse"></i>
</h5>
<div uib-collapse="!miscCollapse">
  <div class="checkbox">
    <label>
      <input
        type="checkbox"
        ng-checked="$ctrl.filterParams.viewArchived === true;"
        ng-click="$ctrl.toggleViewArchived()"
      > View Archived
    </label>
  </div>
</div>