<h5>Status 
  <!-- <span class="badge">{{ $ctrl.filterParams.status.length }}</span>  -->
  <i class="filter-collapse" ng-class="{'ion-ios-arrow-down': !statusCollapse, 'ion-ios-arrow-up': statusCollapse}" ng-click="statusCollapse = !statusCollapse"></i>
</h5>
<div uib-collapse="!statusCollapse">
  <button class="btn btn-default btn-xs" ng-click="$ctrl.uncheckAll('status')">
    Uncheck All
  </button>
  <button class="btn btn-default btn-xs" ng-click="$ctrl.checkAll('status')">
    Check All
  </button>
  <div class="checkbox"
    ng-repeat="status in $ctrl.filterParams.status">
    <label>
      <input
        type="checkbox"
        value="{{status.displayName}}"
        ng-checked="status.checked"
        ng-click="$ctrl.toggleFilterItem(status.displayName, 'status')"
      > {{status.displayName}}
    </label>
  </div>
</div>

<h5>Workflow
  <!-- <span class="badge">{{ $ctrl.filterParams.locations.length }}</span> -->
  <i class="filter-collapse" ng-class="{'ion-ios-arrow-down': !locationCollapse, 'ion-ios-arrow-up': locationCollapse}" ng-click="locationCollapse = !locationCollapse"></i>

</h5>

<div uib-collapse="!locationCollapse">
  <button class="btn btn-default btn-xs" ng-click="$ctrl.uncheckAll('locations')">
    Uncheck All
  </button>
  <button class="btn btn-default btn-xs" ng-click="$ctrl.checkAll('locations')">
    Check All
  </button>
  <div class="checkbox" ng-repeat="location in $ctrl.filterParams.locations track by location.$id | orderBy : 'displayName'" ng-class="{'mb-lg':$first}">
    <label>
      <input type="checkbox" value="{{location.$id}}"
        ng-checked="location.checked"
        ng-click="$ctrl.toggleFilterItem(location.$id, 'locations')"> {{location.displayName}}
    </label>
  </div>
</div>

<h5>Labels 
  <!-- <span class="badge">{{ $ctrl.filterParams.labels.length }}</span>  -->
  <i class="filter-collapse" ng-class="{'ion-ios-arrow-down': !labelCollapse, 'ion-ios-arrow-up': labelCollapse}" 
    ng-click="labelCollapse = !labelCollapse"></i>

</h5>

<div uib-collapse="!labelCollapse">
  <button class="btn btn-default btn-xs" ng-click="$ctrl.uncheckAll('labels')">
    Uncheck All
  </button>
  <button class="btn btn-default btn-xs" ng-click="$ctrl.checkAll('labels')">
    Check All
  </button>
  <div class="checkbox" ng-repeat="label in $ctrl.filterParams.labels track by label.$id | orderBy : 'displayName'" ng-class="{'mb-lg':$first}">
    <label>
      <input type="checkbox" value="{{label.$id}}" ng-checked="label.checked" ng-click="$ctrl.toggleFilterItem(label.$id, 'labels')"> {{label.displayName}}
    </label>
  </div>
</div>


<h5>Misc
  <!-- <span class="badge">{{ $ctrl.filterParams..length }}</span> -->
  <i class="filter-collapse" ng-class="{'ion-ios-arrow-down': !miscCollapse, 'ion-ios-arrow-up': miscCollapse}" ng-click="miscCollapse = !miscCollapse"></i>
</h5>
<div uib-collapse="!miscCollapse">
  <div class="checkbox">
    <label>
      <input
        type="checkbox"
        ng-checked="$ctrl.filterParams.viewArchived === true;"
        ng-click="$ctrl.toggleViewArchived()"
      > View Archived
    </label>
  </div>
</div>