.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
  }

.account-form {
  .btn-link {
    padding-left: 0;
  }
}

a.modal-anchor {
  cursor: pointer;
}

.btn-icon {
  font-size: 18px;
  padding: 3px 12px;
}

i.btn-remove {
  cursor: pointer;
  &:hover {
    color: $brand-danger;
  }
}
