footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $padding-large-vertical 0;
  margin-top: ($padding-large-vertical * 7);
  background: $gray;
  color: $footer-text-color;
  z-index: $zindex-navbar;
  a {
    color: $footer-link-color;
    text-decoration: underline;
  }
}