footer {
  padding: $padding-large-vertical 0;
  margin-top: ($padding-large-vertical * 7);
  background: $gray;
  color: $footer-text-color;
  a {
    color: $footer-link-color;
    text-decoration: underline;
  }
}