.inline-edit {
  display: inline-block;
  .form-control {
    padding: 0;
    margin-bottom: -3px;
    box-shadow: none;
    height: auto;
    line-height: initial;
  }
}

.form-group.search {
  position: relative;
  input {
    padding-right: 22px;
  }
  i {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}