.inline-edit:not(.inline-edit--textarea) {
  display: inline-block;
  .form-control {
    padding: 0;
    margin-bottom: -3px;
    box-shadow: none;
    height: auto;
    line-height: initial;
  }
}

.form-inline.inline-edit--textarea {
  text-align: right;
  textarea.form-control {
    display: block;
    width: 100%;
  }
}

.form-group.search {
  position: relative;
  input {
    padding-right: 22px;
  }
  i {
    position: absolute;
    top: 8px;
    right: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}

.well ul li:last-child .form-group {
  margin-bottom: 0;
}


.context-of-request {
  &:required:invalid {
    color: #999;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: #000;
  }
}

.form-search {
  display: inline-block;
}

.inline .angucomplete-holder {
  display: inline-block;
  input {
    margin-top: -2px;
    font-size: 12px;
  }
}

.admin-control {
  cursor: pointer;
}