.mb-xs {margin-bottom: 5px;}
.mb-sm {margin-bottom: 10px;}
.mb-md {margin-bottom: 15px;}
.mb-lg {margin-bottom: 20px;}
.mb-xl {margin-bottom: 30px;}
.mb-xxl {margin-bottom: 70px;}

.mt-xs {margin-top: 5px;}
.mt-sm {margin-top: 10px;}
.mt-md {margin-top: 15px;}
.mt-lg {margin-top: 20px;}
.mt-xl {margin-top: 30px;}
.mt-xxl {margin-top: 70px;}

.ml-xs {margin-left: 5px;}
.ml-sm {margin-left: 10px;}
.ml-md {margin-left: 15px;}
.ml-lg {margin-left: 20px;}
.ml-xl {margin-left: 30px;}
.ml-xxl {margin-left: 70px;}

.mr-xs {margin-right: 5px;}
.mr-sm {margin-right: 10px;}
.mr-md {margin-right: 15px;}
.mr-lg {margin-right: 20px;}
.mr-xl {margin-right: 30px;}
.mr-xxl {margin-right: 70px;}

.nowrap {
  white-space: nowrap;
}
