.request-header {
  li { margin-bottom: 5px; }
}
.comment {
  margin-bottom: ($padding-large-vertical * 2);
  .comment__meta {
    margin-bottom: ($padding-large-vertical * 1);
    .comment__meta__date {
      color: $gray-light;
    }
  }
}