.table-hover {
  > tbody > tr:hover {
    background-color: $table-bg-hover;
  }
}

table th.sortable span:hover {
  cursor: pointer;
  color: $brand-primary;
}

.table > tbody > tr.archived {
  background-color: $table-bg-warning;
}