<span
  ng-hide="$ctrl.editing">
  <span class="label {{$ctrl.labelClass}}">
    {{$ctrl.data}}
  </span>
  <i class="ion-edit meta ml-xs" ng-show="$ctrl.admin" ng-click="$ctrl.changeStatus()"></i>
</span>
<form class="form-inline inline-edit"
  ng-show="$ctrl.editing">
  <select class="form-control"
    ng-model="$ctrl.data">
    <option ng-repeat="type in $ctrl.statusTypes">{{type}}</option>
  </select>
  <i class="ion-close ml-xs text-danger" ng-click="$ctrl.changeStatus({status:'cancel'})"></i>
  <i class="ion-checkmark ml-xs text-success" ng-click="$ctrl.changeStatus({status:$ctrl.data})"></i>
</form>
