<app-header></app-header>

<section class="container">
  <h1>Edit Profile</h1>
</section>

<section class="container">
  <form ng-submit="$ctrl.updateProfile()">

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <input required type="text" class="form-control" placeholder="First Name" ng-model="$ctrl._profile.firstName">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input required type="text" class="form-control" placeholder="Last Name" ng-model="$ctrl._profile.lastName">
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-default" value="Save">
  </form>

  <button class="btn btn-default"
    ng-click="$ctrl.signOut()">
    Sign Out
  </button>
</section>

  
