<app-header></app-header>

<section class="container">
  <div class="row">
    <div class="col-sm-8 request-header">
      <div class="row">
        <div class="col-sm-12">
          <h1>
            {{::$ctrl._feature.subject}}
            <small class="value">{{$ctrl._featureDetail.totalValue | currency }}</small>
          </h1>
        </div>
      </div>
      <div class="row section">
        <div class="col-sm-12">
          <div class="section-header"
            ng-class="{'closed':!$ctrl.showOgRequest}"
            ng-click="$ctrl.showOgRequest = !$ctrl.showOgRequest">
            <h4>Original Request</h4>
          </div>
          <div class="col-sm-12"
            ng-show="$ctrl.showOgRequest">
            <p>{{$ctrl._feature.description}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <div class="section-header"
            ng-class="{'closed':!$ctrl.showComments}"
            ng-click="$ctrl.showComments = !$ctrl.showComments">
            <h4>Comments</h4>
          </div>

          <div class="col-sm-12"
            ng-show="$ctrl.showComments">
            <div class="comment"
              ng-repeat="comment in $ctrl._comments">
              <div class="comment__meta">
                <span class="comment__meta__name">{{comment.authorMeta.firstName}} {{comment.authorMeta.lastName}}</span>
                <span class="comment__meta__date small">&mdash; {{ comment.dateCreated | date:'short' }}</span>
              </div>
              <div class="comment__message">
                {{ comment.message }}
              </div>
            </div>
            
            <form class="message-form"
              ng-show="$ctrl.showComment"
              ng-submit="$ctrl.addComment()">

              <div class="form-group">
                <textarea class="form-control" rows="3"
                  ng-model="$ctrl.comment.message">
                </textarea>
              </div>
              <button class="btn btn-default"
                ng-click="$ctrl.resetComment()" type="button">Cancel</button>
              <button class="btn btn-info" type="submit">Add Comment</button>

            </form>
            <button class="btn btn-default"
              ng-hide="$ctrl.showComment"
              ng-click="$ctrl.showComment = true">Comment
            </button>
          </div>
          

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <ul class="list-unstyled mt-xl">
        <li><strong>Status:</strong>  <span class="label label-success">{{::$ctrl._feature.status}}</span></li>
        <li><strong>Requested by:</strong> {{::$ctrl._featureDetail.requester.firstName}} {{::$ctrl._featureDetail.requester.lastName}}<em ng-show="$ctrl._featureDetail.requester.department">, {{::$ctrl._featureDetail.requester.department}}</em></li>
        <li><strong>Requested for:</strong> {{$ctrl._featureDetail.accountsMeta[0].name}}</li>
      </ul>
    </div>
  </div>
</section>


<section class="container">

  
</section>

<section class="container">
  <!--todo: make this modular-->
  <!--<a class="btn btn-info pull-right mt-lg"
    ui-sref="app.add-customer">
    Add Customer
  </a>-->
  <div class="section-header"
    ng-class="{'closed':!$ctrl.showCustomerSummary}"
    ng-click="$ctrl.showCustomerSummary = !$ctrl.showCustomerSummary">
    <h4>Customer Summary</h4>
  </div>
  <div class="col-sm-12"
    ng-show="$ctrl.showCustomerSummary">
    <table class="table table-striped">
      <thead>
        <th>Account Name</th>
        <th>Account Value</th>
        <th>CisionPoint ID</th>
        <th>Type</th>
      </thead>
      <tbody>
        <tr ng-repeat="account in $ctrl._featureDetail.accountsMeta">
          <td>{{account.name}}</td>
          <td>{{account.value | currency}}</td>
          <td>{{account.cid}}</td>
          <td>{{account.accountType}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="col-sm-6"
    ng-show="$ctrl.showAccountForm">
    <form class="form-horizontal account-form" 
      ng-submit="$ctrl.addAccount()">
      <fieldset ng-disabled="$ctrl.accountForm.isSubmitting">
        <div class="form-group">
          <label for="account-name" class="col-sm-2 control-label">Account Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="account-name"
              ng-model="$ctrl.accountForm.name">
          </div>
        </div>
        <div class="form-group">
          <label for="account-type" class="col-sm-2 control-label">Account Type</label>
          <div class="col-sm-10">
            <select class="form-control" 
              ng-model="$ctrl.accountForm.accountType">
              <option>Current Customer</option>
              <option>Potential Customer</option>
              <option>Former Customer</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="cision-point-id" class="col-sm-2 control-label">Customer ID</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="cision-point-id"
              ng-model="$ctrl.accountForm.cid">
          </div>
        </div>
        <div class="form-group">
          <label for="account-value" class="col-sm-2 control-label">Account Value</label>
          <div class="col-sm-2">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" id="account-value"
                ng-model="$ctrl.accountForm.value">
            </div>
          </div>
        </div>
      </fieldset>
      <button class="btn btn-default"
        ng-click="$ctrl.resetAccountForm()" type="button">Cancel</button>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
  <button type="button" class="btn btn-default"
    ng-hide="$ctrl.showAccountForm"
    ng-click="$ctrl.showAccountForm = true">Add Account
  </button>
</section>