<span
  ng-hide="$ctrl.editing"
>

  <span ng-if="$ctrl.type === 'button'">
    <a href="{{$ctrl.data}}" class="btn btn-default btn-xs">
      {{$ctrl.buttonText}}
    </a>
    <i
      class="ion-edit meta ml-xs"
      ng-show="$ctrl.admin"
      ng-click="$ctrl.editing = true"
    ></i>
  </span>

  <span ng-if="$ctrl.type === 'label'">
    <span
      class="label"
      ng-class="{
      'label-success': $ctrl.data === 'Current customer',
      'label-default': $ctrl.data === 'Prospect in-cycle',
      'label-warning': $ctrl.data === 'Prospect loss',
      'label-danger': $ctrl.data === 'Lost customer'
    }">{{$ctrl.data}}</span>
    <i
      class="ion-edit meta ml-xs"
      ng-show="$ctrl.admin"
      ng-click="$ctrl.editing = true"
    ></i>
  </span>

  <span ng-if="$ctrl.type !== 'button' && $ctrl.type !== 'label'">
    <span ng-if="$ctrl.filteredData">{{$ctrl.filteredData}}</span>
    <span ng-if="!$ctrl.filteredData">{{$ctrl.data}}</span>
    <i
      class="ion-edit meta ml-xs"
      ng-show="$ctrl.admin"
      ng-click="$ctrl.editing = true"
    ></i>
  </span>
</span>
<form
  class="form-inline inline-edit"
  ng-class="{'inline-edit--textarea': $ctrl.type === 'textarea'}"
  ng-show="$ctrl.editing"
>
  <select
    class="form-control"
    ng-if="$ctrl.options"
    ng-model="$ctrl.data"
  >
    <option ng-repeat="option in $ctrl.options">{{option}}</option>
  </select>

  <textarea
    class="form-control"
    rows="3"
    ng-if="$ctrl.type === 'textarea'"
    ng-model="$ctrl.data"
  ></textarea>

  <input
    ng-if="!$ctrl.options && $ctrl.type !== 'textarea'"
    class="form-control"
    ng-model="$ctrl.data"
  />
  <i class="ion-close ml-xs text-danger" ng-click="$ctrl.changeField(false)"></i>
  <i class="ion-checkmark ml-xs text-success" ng-click="$ctrl.changeField(true)"></i>
</form>