<navbar>
  <app-header></app-header>
</navbar>

<main>
  <section class="container">
    <h1 class="page-title">Feature Request List</h1>
  </section>

  <section class="container">
    <a class="btn btn-success pull-right"
      ui-sref="app.feature-create">
      Submit Feature
    </a>
    <form class="form-inline">
      <div class="form-group search">
        <label class="sr-only" for="search">Search features</label>
        <input type="text" class="form-control" id="search" placeholder="Search features..." 
          ng-model="searchFeatures">
          <i class="ion-ios-search-strong"></i>
      </div>
    </form>
    
  </section>

  <section class="container">
    <table class="table table-striped table-hover">
      <thead>
        <th class="sortable">
          <span ng-click="$ctrl.sortType = 'status'; $ctrl.sortReverse = !$ctrl.sortReverse">
            Status
            <span ng-show="$ctrl.sortType == 'status' && !$ctrl.sortReverse" class="ion-arrow-down-b"></span>
            <span ng-show="$ctrl.sortType == 'status' && $ctrl.sortReverse" class="ion-arrow-up-b"></span>
          </span>
        </th>
        <th class="sortable">
          <span ng-click="$ctrl.sortType = 'labels'; $ctrl.sortReverse = !$ctrl.sortReverse">
            Labels
            <span ng-show="$ctrl.sortType == 'labels' && !$ctrl.sortReverse" class="ion-arrow-down-b"></span>
            <span ng-show="$ctrl.sortType == 'labels' && $ctrl.sortReverse" class="ion-arrow-up-b"></span>
          </span>
        </th>
        <th class="sortable">
          <span ng-click="$ctrl.sortType = 'subject'; $ctrl.sortReverse = !$ctrl.sortReverse">
            Summary
            <span ng-show="$ctrl.sortType == 'subject' && !$ctrl.sortReverse" class="ion-arrow-down-b"></span>
            <span ng-show="$ctrl.sortType == 'subject' && $ctrl.sortReverse" class="ion-arrow-up-b"></span>
          </span>
        </th>
        <th class="sortable">
          <span ng-click="$ctrl.sortType = 'accountsMeta[0].name'; $ctrl.sortReverse = !$ctrl.sortReverse">
            Original Requester
            <span ng-show="$ctrl.sortType == 'accountsMeta[0].name' && !$ctrl.sortReverse" class="ion-arrow-down-b"></span>
            <span ng-show="$ctrl.sortType == 'accountsMeta[0].name' && $ctrl.sortReverse" class="ion-arrow-up-b"></span>
          </span>
        </th>
        <th class="sortable">
          <span ng-click="$ctrl.sortType = 'dateCreated'; $ctrl.sortReverse = !$ctrl.sortReverse">
            Date
            <span ng-show="$ctrl.sortType == 'dateCreated' && !$ctrl.sortReverse" class="ion-arrow-down-b"></span>
            <span ng-show="$ctrl.sortType == 'dateCreated' && $ctrl.sortReverse" class="ion-arrow-up-b"></span>
          </span>
        </th>
        <th class="sortable text-right">
          <span ng-click="$ctrl.sortType = 'totalValue'; $ctrl.sortReverse = !$ctrl.sortReverse">
            Total Value
            <span ng-show="$ctrl.sortType == 'totalValue' && !$ctrl.sortReverse" class="ion-arrow-down-b"></span>
            <span ng-show="$ctrl.sortType == 'totalValue' && $ctrl.sortReverse" class="ion-arrow-up-b"></span>
          </span>
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="feature in $ctrl.features | orderBy:$ctrl.sortType:$ctrl.sortReverse | filter:searchFeatures"
         ng-click="navigate($event, 'app.feature-detail', {id:feature.$id})">
          <td><span class="label label-success">{{feature.status}}</span></td>
          <td>
            <span ng-repeat="label in feature.labels">
              <span class="label label-default mr-xs">
                <display-label data="label"></display-label>
              </span>
              <br/>
            </span>
          </td>
          <td>{{feature.subject}}</td>
          <td class="nowrap">{{feature.accountsMeta[0].name}}</td>
          <td class="nowrap">{{feature.dateCreated | date }}</td>
          <td align="right">{{feature.totalValue | currency}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>