<navbar>
  <app-header></app-header>
</navbar>

<main>
  <section class="container">
    <h1 class="page-title">Feature Request List</h1>
  </section>

  <section class="container">
    <a class="btn btn-success pull-right"
      ui-sref="app.feature-create">
      Submit Feature
    </a>
    <form class="form-inline form-search">
      <div class="form-group search">
        <label class="sr-only" for="search">Search features</label>
        <input type="text" class="form-control" id="search" placeholder="Search features..." 
          ng-model="searchFeatures">
          <i class="ion-ios-search-strong"></i>
      </div>
    </form>
    
    <column-toggle columns="$ctrl.columns"></column-toggle>

    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default btn-icon"
        ng-click="$ctrl.tableWidth = 'container-fluid'"
        ng-class="{'active' : $ctrl.tableWidth == 'container-fluid'}">
        <i class="ion-arrow-expand"></i>
      </button>
      <button type="button" class="btn btn-default btn-icon"
        ng-click="$ctrl.tableWidth = 'container'"
        ng-class="{'active' : $ctrl.tableWidth == 'container'}">
        <i class="ion-arrow-shrink"></i>
      </button>
    </div>
    
    
  </section>

  <section ng-class="$ctrl.tableWidth">
    <table class="table table-striped table-hover">
      <thead>
        <th ng-repeat="column in $ctrl.columns" ng-if="column.display" class="sortable {{ column.thAlign }}" ng-click="$ctrl.sortType = 'status'; $ctrl.sortReverse = !$ctrl.sortReverse">
          <span ng-click="$ctrl.sortType = 'status'; $ctrl.sortReverse = !$ctrl.sortReverse">
            {{column.displayName}}
            <span ng-show="$ctrl.sortType == 'status' && !$ctrl.sortReverse" class="ion-arrow-down-b"></span>
            <span ng-show="$ctrl.sortType == 'status' && $ctrl.sortReverse" class="ion-arrow-up-b"></span>
          </span>
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="feature in $ctrl.features | orderBy:$ctrl.sortType:$ctrl.sortReverse | filter:searchFeatures"
        ui-sref="app.feature-detail({id:feature.$id})">
          <td ng-if="$ctrl.columns.status.display"><span class="label label-success">{{feature.status}}</span></td>
          <td ng-if="$ctrl.columns.labels.display">
            <span ng-repeat="label in feature.labels">
              <span class="label label-default mr-xs">
                <display-label data="label"></display-label>
              </span>
              <br/>
            </span>
          </td>
          <td ng-if="$ctrl.columns.summary.display">{{feature.subject}}</td>
          <td ng-if="$ctrl.columns.originalRequester.display" class="nowrap">{{feature.accountsMeta[0].name}}</td>
          <td ng-if="$ctrl.columns.date.display" class="nowrap">{{feature.dateCreated | date }}</td>
          <td ng-if="$ctrl.columns.totalValue.display" align="right">{{feature.totalValue | currency}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>