<section class="container">
  <h1>Login</h1>
</section>

<section class="container">

  <div class="row">
    <div class="col-sm-4">

      <div ng-show="$ctrl.error">
        <span>{{ $ctrl.error.message }}</span>
      </div>

      <form ng-submit="$ctrl.submitLogin()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" placeholder="Email" ng-model="$ctrl.formData.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" placeholder="Password" ng-model="$ctrl.formData.password">
        </div>
        <input type="submit" class="btn btn-default" value="Login">
      </form>

    </div>
  </div>

</section>