<app-header></app-header>

<section class="container">
  <h1 class="page-title">Submit New Feature Request</h1>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <form class="feature-form" ng-submit="$ctrl.addAccountAndFeature()">
        <fieldset ng-disabled="$ctrl.featureForm.isSubmitting">
          <div class="form-group">
            <label for="subject" class="control-label">Feature Summary</label>
            <input type="text" class="form-control" id="subject" required
              ng-model="$ctrl.featureForm.subject">
          </div>
          <div class="form-group">
            <label for="description" class="control-label">Description of Feature</label>
            <textarea type="textarea" class="form-control" id="description" required rows="5"
              ng-model="$ctrl.featureForm.description"></textarea>
          </div>
          <div class="form-group">
            <label for="platform-product">Platform or Product</label>
            <p class="meta">Select the platform our product currently being used by the customer</p>
            <select class="form-control" id="platform-product" required
              ng-change="$ctrl.getProductLocations()"
              ng-model="$ctrl.featureForm.product">
              <option ng-repeat="product in $ctrl._LabelService._products" value="{{ product.$id }}">{{ product.displayName }}</option>
            </select>
          </div>
          <div class="form-group ml-xl">
            <select class="form-control"
              ng-if="$ctrl.productLocations.length > 0"
              ng-change="$ctrl.getLocationLabels()"
              ng-model="$ctrl.featureForm.location">
              <option ng-repeat="location in $ctrl.productLocations" value="{{ location.$id }}">{{ location.displayName }}</option>
            </select>
          </div>

          <div class="form-group ml-xl">
            <select class="form-control" multiple
              ng-if="$ctrl.locationLabels.length > 0"
              ng-model="$ctrl.featureForm.labels">
              <option ng-repeat="label in $ctrl.locationLabels" value="{{ label.$id }}">{{ label.displayName }}</option>
            </select>
          </div>


          <div class="form-group ml-xl">

            <select class="form-control" multiple size="14"
              ng-if="$ctrl.featureForm.product == 'C3' && $ctrl.featureForm.location == 'News'"
              ng-model="$ctrl.featureForm.labels">
              <option>Searching News</option>
              <option>Saved Searches</option>
              <option value="Viewing News Results">Viewing News Results (MD and Grid)</option>
              <option>Filtering Results</option>
              <option value="News Forwards">News Forwards (automated or manual)</option>
              <option>Analytics Dashboards</option>
              <option>Exporting</option>
              <option>Clip Report</option>
              <option>Executive Report</option>
              <option>Tags</option>
              <option>Advanced Analytics</option>
              <option>Prominence and Impact</option>
              <option>Auto Toning</option>
              <option>Adding Clips Manually</option>
            </select>


            <select class="form-control" multiple size="13"
              ng-if="$ctrl.featureForm.product == 'C3' && $ctrl.featureForm.location == 'Contacts'"
              ng-model="$ctrl.featureForm.labels">
              <option>Searching Contacts</option>
              <option>Searching Outlets</option>
              <option>Searching Ed Cals</option>
              <option>Viewing Results</option>
              <option>Filtering Results</option>
              <option>Contact Profile Page</option>
              <option>Outlet Profile Page</option>
              <option>Exporting</option>
              <option>My Lists</option>
              <option>Recommendations</option>
              <option>HARO</option>
              <option>Media Updates</option>
              <option>Private Contacts</option>
            </select>

            <select class="form-control" multiple size="7"
              ng-if="$ctrl.featureForm.product == 'C3' && $ctrl.featureForm.location == 'Connect'"
              ng-model="$ctrl.featureForm.labels">
              <option>Social Publishing</option>
              <option>PRWeb</option>
              <option>PRN</option>
              <option>Custom Activities</option>
              <option>Content Calendar</option>
              <option>Campaigns</option>
              <option>Streams</option>
            </select>
          </div>


          <!--distribution -->
          <div class="form-group ml-xl">
            <select class="form-control"
              ng-if="$ctrl.featureForm.product == 'Web Distribution'"
              ng-model="$ctrl.featureForm.location">
              <option>PRWeb ecommerce</option>
              <option>iReach</option>
              <option value="PRWeb subscription CPRE">PRWeb subscription CPRE (legacy)</option>
              <option>PRWeb subscription C3</option>
            </select>
          </div>


          <div class="form-group ml-xl">
            <select class="form-control"
              ng-if="$ctrl.featureForm.product == 'Wire Distribution'"
              ng-model="$ctrl.featureForm.location">
              <option>OMC US</option>
              <option>OMC CNW</option>
              <option>OMC LATAM</option>
              <option>CNW Access</option>
              <option>Asia Portal</option>
              <option>C3 Wire Distribution</option>
              <option>EU Portal</option>
              <option>India Portal</option>
              <option>UK Disclosure</option>
              <option>France Disclose</option>
            </select>
          </div>

          <div class="form-group ml-xl">
            <select class="form-control" multiple size="8"
              ng-if="$ctrl.featureForm.product == 'Web Distribution' || $ctrl.featureForm.product == 'Wire Distribution'"
              ng-model="$ctrl.featureForm.labels">
              <option>Pricing and Packaging</option>
              <option>Reporting</option>
              <option value="Viewing News Results">General Usability</option>
              <option>Distribution Options and Networks</option>
              <option value="System Performance">System Performance (compatibility, mobile-friendly, etc)</option>
              <option value="Regional Customization">Regional Customization (translations, packages, etc)</option>
              <option>Security</option>
              <option>Other</option> 
            </select>
          </div>

          <div class="form-group">
            <label>Is this feature something available in another platform?</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Competitive gap"
                ng-model="$ctrl.featureForm.compGap">
              Competitive gap
            </label>
            </div>
            <div class="checkbox">
            <label>
              <input type="checkbox" value="Legacy system gap"
                ng-model="$ctrl.featureForm.legacyGap">
              Legacy system gap
            </label>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h3>Customer Details</h3>
              <hr/>
            </div>
          </div>
        </fieldset>
        
        <add-account
          create-feature="true"
          new-account="$ctrl.newAccount"
          search-data="$ctrl._AccountService.all"
          feature-form="$ctrl.featureForm"
          account-form="$ctrl.accountForm"
          search-function="$ctrl._AccountService.accountSearch">
        </add-account>
      </form>
    </div>
  </div>
</section>