<app-header></app-header>

<section class="container">
  <h1 class="page-title">Submit New Feature Request</h1>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <form class="feature-form" ng-submit="$ctrl.addAccountAndFeature()">
        <fieldset ng-disabled="$ctrl.featureForm.isSubmitting">
          <div class="form-group">
            <label for="subject" class="control-label">Feature Summary</label>
            <input type="text" class="form-control" id="subject" required
              ng-model="$ctrl.featureForm.subject">
          </div>
          <div class="form-group">
            <label for="description" class="control-label">Description of Feature</label>
            <textarea type="textarea" class="form-control" id="description" required rows="5"
              ng-model="$ctrl.featureForm.description"></textarea>
          </div>
          <div class="form-group">
            <label for="platform-product">Platform or Product</label>
            <p class="meta">Select the platform our product currently being used by the customer</p>
            <select class="form-control" id="platform-product" required
              ng-change="$ctrl.getProductLocations()"
              ng-model="$ctrl.featureForm.product">
              <option ng-repeat="product in $ctrl._LabelService._products" value="{{ product.$id }}">
                {{ product.displayName }} {{ product.description ? '(' + product.description + ')' : '' }}
              </option>
            </select>
          </div>
          <div class="form-group ml-xl">
            <select class="form-control"
              ng-if="$ctrl.productLocations.length > 0"
              ng-change="$ctrl.getLocationLabels()"
              ng-model="$ctrl.featureForm.location">
              <option ng-repeat="location in $ctrl.productLocations" value="{{ location.$id }}">
                {{ location.displayName }} {{ location.description ? '(' + location.description + ')' : '' }}
              </option>
            </select>
          </div>

          <div class="form-group ml-xl">
            <select class="form-control" multiple
              ng-if="$ctrl.locationLabels.length > 0"
              ng-model="$ctrl.featureForm.labels">
              <option ng-repeat="label in $ctrl.locationLabels" value="{{ label.$id }}">
                {{ label.displayName }} {{ label.description ? '(' + label.description + ')' : '' }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>Is this feature something available in another platform?</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Competitive gap"
                ng-model="$ctrl.featureForm.compGap">
              Competitive gap
            </label>
            </div>
            <div class="checkbox">
            <label>
              <input type="checkbox" value="Legacy system gap"
                ng-model="$ctrl.featureForm.legacyGap">
              Legacy system gap
            </label>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h3>Customer Details</h3>
              <hr/>
            </div>
          </div>
        </fieldset>
        
        <add-account
          create-feature="true"
          new-account="$ctrl.newAccount"
          search-data="$ctrl._AccountService.all"
          feature-form="$ctrl.featureForm"
          account-form="$ctrl.accountForm"
          search-function="$ctrl._AccountService.accountSearch">
        </add-account>
      </form>
    </div>
  </div>
</section>