<main>
  <section class="container">
    <h1>Edit Profile</h1>
  </section>

  <section class="container">
    <form ng-submit="$ctrl.updateProfile()">


      <div class="row">

        <div class="col-md-6" ng-show="!$ctrl._currentAuth.emailVerified">
          <div class="alert alert-danger" role="alert">
            <h4>Your email address hasn't been verified.</h4>
            <p>You will be unable to use the application until you verify. Please check your inbox for a verification email.</p>
            <p><strong>Please note that it may take 5-10 minutes for this email to send.</strong></p>
            <button type="button" class="btn btn-danger mt-sm"
              ng-click="$ctrl._UserService.sendFirebaseEmailVerification()">Resend Verification Email</button>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4 col-sm-6">

          <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input required type="text" class="form-control" readonly
              ng-model="::$ctrl._currentAuth.email">
          </div>

          <div class="form-group">
            <label for="first-name" class="control-label">First Name</label>
            <input required type="text" class="form-control" required
              id="first-name"
              ng-model="$ctrl._profile.firstName">
          </div>

          <div class="form-group">
            <label for="last-name" class="control-label">Last Name</label>
            <input required type="text" class="form-control" required
              id="last-name"
              ng-model="$ctrl._profile.lastName">
          </div>

          <div class="form-group">
            <label for="department" class="control-label">Department</label>
            <select class="form-control"
              id="department"
              ng-model="$ctrl._profile.department">
              <option ng-repeat="department in $ctrl.departments">{{department}}</option>
            </select>
          </div>

          <button class="btn btn-default pull-right"
            ng-click="$ctrl.signOut()">
            Sign Out
          </button>
          <button type="submit" class="btn btn-success pull-right mr-sm">Save</button>

        </div>

      </div>

    </form>

  </section>
</main>
