/** BUTTON **/
.btn {
    position: relative;
    text-transform: uppercase;
    font-size: $btn-font-size;
    letter-spacing: 1px;
    min-width: 134px;
    min-height: 34px;

    &:focus {
        @include no-focus();
    }

    /** Default Buttons**/
    &.btn-default {
        @include overrideButtonStates(
            $btn-default-color,
            $btn-default-bg,
            $btn-default-border,
            $btn-default-color-hover,
            $btn-default-bg-hover,
            $btn-default-border-hover,
            $btn-default-color-active,
            $btn-default-bg-active,
            $btn-default-border-active);
    }

    /** Primary Buttons **/
    &.btn-primary {
        @include overrideButtonStates(
            $btn-primary-color,
            $btn-primary-bg,
            $btn-primary-border,
            $btn-primary-color-hover,
            $btn-primary-bg-hover,
            $btn-primary-border-hover,
            $btn-primary-color-active,
            $btn-primary-bg-active,
            $btn-primary-border-active);
    }

    /** Secondary Buttons **/
    &.btn-secondary {
        @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);

        @include overrideButtonStates(
            $btn-secondary-color,
            $btn-secondary-bg,
            $btn-secondary-border,
            $btn-secondary-color-hover,
            $btn-secondary-bg-hover,
            $btn-secondary-border-hover,
            $btn-secondary-color-active,
            $btn-secondary-bg-active,
            $btn-secondary-border-active);
    }

    /** Warning Buttons **/
    &.btn-warning {
        @include overrideButtonStates(
            $btn-warning-color,
            $btn-warning-bg,
            $btn-warning-border,
            $btn-warning-color-hover,
            $btn-warning-bg-hover,
            $btn-warning-border-hover,
            $btn-warning-color-active,
            $btn-warning-bg-active,
            $btn-warning-border-active);
    }

    /** Disabled Button **/
    &[disabled], &.disabled {
        @include button-variant($btn-disabled-color, $btn-disabled-bg, $btn-disabled-border);

        @include overrideButtonStates(
            $btn-disabled-color,
            $btn-disabled-bg,
            $btn-disabled-border,
            $btn-disabled-color,
            $btn-disabled-bg,
            $btn-disabled-border,
            $btn-disabled-color,
            $btn-disabled-bg,
            $btn-disabled-border);
    }

    /** Caret Buttons **/
    &.corner-caret {
        .caret {
            transform: rotate(-45deg);
            position: absolute;
            bottom: 3px;
            right: 3px;
        }
    }

    /** Icon Buttons **/
    &.btn-icon, &.btn-icon-text {
        min-width: 0;
        padding: $btn-icon-vertical-padding 16px;

        &.btn-lg {
            min-width: 0;
            padding: $padding-large-vertical 32px;
        }

        i {
            font-size: 1.6rem;
        }

        &.btn-link {
            &:focus, &:hover {
                text-decoration: none;
            }
        }
    }

    &.btn-icon-text {
        &.btn-default i {
            color: $btn-default-border;
        }

        &.btn-primary i {
            color: $btn-primary-color;
        }

        &.btn-secondary i {
            color: $btn-secondary-border;
        }

        &.btn.warning i {
            color: $btn-warning-border;
        }

        &[disabled] i, &.disabled i {
            color: $btn-disabled-border;
        }

        i {
            margin-right: 10px;
            vertical-align: middle;

            /* Share icon vertical alignment fix */
            &.fa-share-alt {
                margin-top: -2px;
            }
        }
    }

    /** Link Buttons **/
    &.btn-link {
        min-width: 0;
        border-color: transparent;
        padding-top: 8.5px;
        padding-bottom: 8.5px;
    }

    /** Drop Down Toggles **/
    &.dropdown-toggle {
        min-width: 0;
    }

    /** Sizes **/
    &.btn-lg {
        min-width: 160px;
        min-height: 50px;
    }

    &.btn-sm {
        min-width: 80px;
    }
}

/** Buttons Via Anchors **/
a.btn {
    padding-top: 9px;

    &.btn-lg {
        padding-top: 17px;
    }

    &.btn-sm {
        padding-top: 8px;
    }
}

.btn-group {
    &.single {
        .btn {
            border-radius: $btn-border-radius-base;

            &.btn-lg {
                border-radius: $btn-border-radius-large;
            }

            &.btn-sm {
                border-radius: $btn-border-radius-small;
            }
        }
    }

    &.btn-toggle {
        .btn {
            min-width: 0;

            &.btn-default, &.btn-secondary {
                &.active, &:active {
                    color: $btn-primary-color;
                    background-color: $btn-primary-bg;
                    border-color: $btn-primary-border;
                    box-shadow: none;

                    &:hover, &.hover { /* stylelint-disable-line max-nesting-depth */
                        color: $btn-primary-color-hover;
                        background-color: $btn-primary-bg-hover;
                        border-color: $btn-primary-border-hover;
                    }
                }
            }
        }
    }

    .btn-sm {
        min-width: 70px;
    }

    .btn-primary {
        border-right-color: #FFF;
        border-left-color: #FFF;
    }
}
