/** Colors **/
$gray-extreme-darker: #2C3E50;
$gray-darker: #606C81;
$gray-dark: #778195;
$gray: #A3ACBD;
$gray-light: #BFC7D5;
$gray-lighter: #DBE6EB;
$gray-extreme-lighter: #EEF1F7;
$gray-white: #F6F8F9;

$white: #FFF;
$black: #000;

$blue-dark :#17324C;
$blue : #2589C6;
$blue-light: #00AEE5;
$blue-lighter: #1FBAD6;
$blue-extreme-lighter:#35A3E5;

/** Unknown **/
$geyser:#D1DDE3;

@import 'cig/colors';
