@mixin navbar-h2 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: $navbar-hover;
    transition: color $transition-fast;
}

.navbar {
    background-color: $navbar-color;
    border: none;
    border-radius: 0;
    margin-bottom: 0;

    .navbar-brand {
        height: $navbar-height;
        padding: 11px 15px;
        line-height: 20px;
        font-size: 18px;
    }

    .navbar-nav {
        float: none;
        margin-right: 0;
    }

    .nav {

        //override for bootstraps desire to change
        // the background-color and border-color:
        //nav item hover state
        //nav item open state
        > li:hover > a,
        > li.open > a {
            background-color: transparent;
            border-color: transparent;
        }

        //nav item open state
        //nav item selected state
        > li.open,
        > li.active {
            background-color: $navbar-selected-bg;

            > a {
                border-color: transparent;

                &:before {
                    display: none;
                }
            }
        }
        > li > a:hover {
            color: #fff;
        }
        > li > a.active {
            background-color: $navbar-selected-bg;
            &:hover {
                color: #fff;
            }
        }
        //nav item open state
        > li.open {
            background-color: $navbar-open-bg;

            > a {
                color: $charcoal100;
            }
        }
        //nav item selected state
        > li.active:not(.open) {
            .navbar-menu-subheader {
                color: $navbar-text;
                font-weight: normal;
            }
        }

        > li {
            position: static;

            > a {
                cursor: pointer;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 20px;
                background-color: transparent;
                color: $navbar-text;
                height: $navbar-height;
                padding: 17px 20px;
            }

            .navbar-menu-subheader {
                margin: -17px 0 5px 0;
                font-size: $navbar-subheader-font-size;
                font-style: italic;
                font-weight: 600;
                color: $navbar-subheader-color;
            }
        }
    }

    //drop down area for main nav items
    .sub-nav-menu {
        width: 100%;
        padding: 0;
        border: none;
        box-shadow: 0 7px 14px -4px rgba(0, 0, 0, 0.15);
        border-radius: 0;

        .sub-nav-item {
            display: block;
            float: left;
            width: 192px;
            height: 139px;

            a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 20px 10px;
                text-align: center;
                white-space: normal;
                transition: background $transition-fast;
                border-right: 1px solid $sub-nav-item-border;

                h2 {
                    @include navbar-h2();
                }

                p {
                    font-size: 11px;
                    color: $sub-nav-text-color;
                }

                .nav-icon {
                    margin-bottom: 15px;
                    font-size: 2.3rem;
                    color: $brightCisionBlue;
                    transition: transform $transition-fast;
                }

                &:hover > .nav-icon {
                    transform: scale(1.3);
                }
            }

            &:hover a,
            &:active a,
            .active {
                background-color: $sub-nav-item-hover;

                h2 {
                    color: $brand-light;
                }
            }
        }
    }

    // navbar "teaser" styles
    .teaser-wrap {
        width: 100%;
        padding: 0;
        border: 0;

        > a {
            display: block;
            overflow: auto;
            padding: 0;
            cursor: pointer;

            h3 {
                color: $lightCisionBlue;
            }

            .fa {
                font-size: 36px;
                color: $onahau100;
            }

            &:hover {
                color: $blue;
                background-color: $sub-nav-item-hover;

                h3 {
                    color: $link-hover-color;
                }

                .fa {
                    color: $lightCisionBlue;
                }
            }
        }

        .teaser {
            width: 100%;
            text-align: center;

            a p {
                font-size: 15px;
                color: $charcoal100;
            }

            .btn {
                width: initial;
            }

            h2 {
                @include navbar-h2();
                display: block;
                margin-top: 6px;
            }

            .left, .right {
                padding: 0 45px 0 60px;
            }

            .right {
                margin-top: 10px;
            }

            @media (min-width: 630px) {
                & {
                    overflow: hidden;
                }
            }

            @media (min-width: 769px) {
                & {
                    text-align: left;
                }

                &:before {
                    content: '';
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }

                h2 {
                    margin-top: 0;
                }

                .left, .right {
                    display: inline-block;
                    vertical-align: middle;
                }

                .right {
                    width: 50%;
                    max-width: 615px;
                    padding: 0;
                    margin: 0;
                }
            }

            .icon-wrap {
                display: flex;
                justify-content: center;

                .fa {
                    flex-grow: 1;
                    text-align: center;
                }
            }

            @media (min-width: 800px) {
                .right {
                    width: 55%;
                }
            }

            @media (min-width: 992px) {
                .left {
                    padding-right: 65px;
                }
            }
        }
    }

    //right area of nav bar
    //  main level nav items
    .right-nav-button {
        display: inline-block;
        height: $navbar-height;
        padding: 12px 25px;
        outline: none;
        cursor: pointer;
        color: $navbar-settings-color;
        text-decoration: none;

        .fa.icon-user-solid {
            font-size: 15px;
        }

        .fa {
            font-size: 18px;
            display: block;
            color: $navbar-settings-color;
            vertical-align: top;

            &.pad-top {
                padding-top: 3px;
            }
        }
    }

    // .navbar-right, .mobile-bottom {
    //     > li {
    //         border-left: 1px solid rgba($brightCisionBlue, 0.5);
    //     }
    // }

    .mobile-bottom > li:last-child {
        border-right: 1px solid rgba($brightCisionBlue, 0.5);
    }

    .right-nav-submenu {
        .caret {
            margin-left: 8px;
        }

        a {
            text-decoration: none;
        }

        //override bootstraps desire to change
        // background color
        &.open {
            background-color: #FFF; //$navbar-selected-bg;
            > a {
                background-color: #FFF; //$navbar-selected-bg;
                position: relative;
                z-index: 1001;

                &:focus,
                &:hover {
                    background-color: #FFF; //$navbar-selected-bg;
                }
                color: $navbar-color;

                .fa {
                    color: $navbar-color;
                }
            }
        }

        .subnav-panel {
            right: 0;
            left: auto;
            border: 0;
            border-radius: 3px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            min-width: $subnav-panel-min-width;
            box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
            padding: 0;
            max-height: 50vh;
            overflow: auto;
            margin-top: 0; // counteract normal
            z-index: 1000; // apparently we don't use bootstrap variables for this. our button has 1001 hard coded for god knows what reason so do 1 less here so the dropshadow is hidden

            .subnav-panel-inner {
                padding: 25px 30px;
            }

            .subnav-panel-header {
                text-align: center;
                font-size: 12px;
                line-height: 18px;
                @include text-overflow();
            }

            .data-group-list {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    a { /* stylelint-disable-line max-nesting-depth */
                        display: block;
                        padding: 13px 0;
                        color: $navbar-datagroup-name;
                        border-bottom: 1px solid $navbar-datagroup-border;
                        font-size: 12px;
                        letter-spacing: 1px;
                    }

                    &:last-child a { /* stylelint-disable-line max-nesting-depth */
                        border-bottom: 0;
                    }

                    &:hover, &:active, &:focus { /* stylelint-disable-line max-nesting-depth */
                        a { /* stylelint-disable-line max-nesting-depth */
                            color: $navbar-datagroup-highlight;
                            background-color: transparent;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        &.contact-support {
            .subnav-panel {
                min-width: $contact-support-subnav-panel-min-width;
            }

            .subnav-panel-inner {
                padding-bottom: 10px;
            }

            .version-number {
                margin: 5px 0 0;
                font-size: 0.7em; /* stylelint-disable-line unit-blacklist */
                color: $onahau75;
            }
        }
    }

    .user-name {
        margin-bottom: 20px;
    }

    .user-info {
        display: inline-block;
        margin-top: 5px;
        max-width: 325px;

        .user-data-group {
            display: none;
            font-size: 11px;
            @include text-overflow();
        }

        .user-data-group {
            display: block;
        }
    }

    .btn:not(.btn-teaser) {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        border-radius: 2px;
        width: 100%;
        transition: color $transition-fast, background $transition-fast;

        &.btn-primary {
            background: $brand-light;
            border-color: transparent;

            &:hover {
                background-color: $brand-light-2;
            }
        }
    }
}

header + main {
    margin-top: $navbar-height;
    height: calc(100vh - #{$navbar-height});
    overflow: auto;
}

.nav-full {
    display: none;
}

.nav-mobile {
    height: 50px;

    .sub-nav-menu {
        h2 {
            display: inline-block;
            margin: 0;
            font-size: 15px;
            padding: 0 15px;
            line-height: 27px;
        }

        li {
            border-bottom: 1px solid $gray;

            &:last-child {
                border: 0 none;
            }

            span {
                color: $sub-nav-text-color;
                text-transform: none;
            }
        }

        a {
            display: block;
            padding: 20px 15px;
            text-decoration: none;

            &:hover {
                background-color: #F5F5F5;
            }
        }

        .active {
            background-color: $sub-nav-item-hover;

            .fa {
                transform: scale(1.3, 1.3);
            }
        }
    }

    .mobile-nav-right {
        float: right;

        & > button {
            margin: 0;
            border: 0 none;
            outline: 0 none;
            background: transparent;
            color: #FFF;
            padding: 11px 15px;
            float: right;
            max-height: $navbar-height;

            .fa:before {
                vertical-align: top;
            }
        }
    }

    .fa {
        font-size: 2em; /* stylelint-disable-line unit-blacklist */
    }

    .navbar-nav.expanded {
        max-height: 250px;
    }

    .navbar-nav.expanded.sub-nav-expanded {
        max-height: 100vh;
    }

    .navbar-nav {
        max-height: 0;
        margin: 0;
        text-transform: uppercase;
        overflow: hidden;
        clear: both;
        transition: max-height 0.3s linear, overflow-y 0.3s linear;
    }

    .mobile-bottom {
        background-color: $navbar-color;
        float: right;

        & > li {
            float: left;
        }
    }

    .panel-group {
        margin: 0;

        .panel {
            margin: 0;
            border: 0 none;
            border-bottom: 1px solid $lightCisionBlue;

            &:first-child {
                border-top: 1px solid $lightCisionBlue;
            }
        }

        .panel-body {
            padding: 0;
        }

        .panel-heading {
            padding: 0;
            background-color: $navbar-color;
            color: #FFF;
            border: 0 none;

            a[data-toggle] {
                text-decoration: none;
                display: block;
                width: 100%;
                height: 100%;
                padding: 20px 15px;

                span:after {
                    display: inline-block;
                    content: '\25bc';
                    margin-left: 5px;
                }
            }
        }
    }
}

.navbar-header {
    float: left;
}

@media (min-width: $screen-md) {
    .nav-full {
        display: block;
    }

    .nav-mobile, .modal-backdrop.mobile-nav {
        display: none;
    }
}

@media (max-width: $screen-md) {
    .nav-mobile .navbar-nav > li {
        float: none;
    }
}
