@import 'colors';
$body-bg: #F6F8F9;

/** general **/
$brand-light: $blue;
$brand-light-2: $blue-light;
$brand-bg:#ECF8FF;
$brand-primary-dark: #2C3E50;

$highlight: $blue-lighter;
$shaded-gray: $gray-light;
$shaded-gray-light: #D7DCE6;
$update-text-gray:$gray-extreme-darker;

$container-fluid-background-gray:$gray-white;

/** fonts **/
$proxima-nova-font-path: 'fonts/proxima/';
$cision-font-path: 'fonts/cision/';
$icon-font-path: 'fonts/bootstrap/';
$fa-font-path:'fonts/font-awesome/';

$font-family-base:'proxima';

/** file paths **/
$image-path: 'img/';

/** transitions **/
$transition: 600ms;
$transition-fast: 300ms;

/** containers **/
$container-login-bg: #053A4F;

/** navbar **/
$grid-float-breakpoint: 0;
$navbar-color: #0C6389;
$navbar-selected-bg: rgba($brightCisionBlue, 0.35); //#0F253A;
$navbar-open-bg: #FFF; //rgba($brightCisionBlue, 0.65);

$navbar-text: #FFF;
$navbar-height: 50px;

$navbar-settings-color: #FFF;
$navbar-settings-bg:#053A4F;

$navbar-datagroup-selected: #FFF;
$navbar-datagroup-name: $gray-dark;
$navbar-datagroup-highlight: $highlight;
$navbar-datagroup-border: $gray-extreme-lighter;

$navbar-hover: #1F4366;
$nav-link-hover-bg : transparent; //override bootstrap variable
$navbar-subheader-color: $blue-extreme-lighter;
$navbar-subheader-font-size: 9px;

$sub-nav-item-hover: $gray-white;
$sub-nav-item-border: $gray-lighter;
$sub-nav-text-color: $gray;

$nav-heading: $gray-light;

$subnav-panel-min-width: 350px;
$contact-support-subnav-panel-min-width: 250px;

$zindex-modals: 2000;

/** Borders **/
$gray-border: $gray-lighter;
$gray-body: $gray-dark;

$font-family-base:'proxima';

/** Same as bootstrap btn-warning body**/
$brand-warning: #F0AD4E;

// full page error colors
$full-page-error-main-text-color: $brightCisionBlue;

// wizard component
$wizard-breadcrumb-active-color: $lightCisionBlue;
$wizard-breadcrumb-disable-color: $shaded-gray;
$wizard-breadcrumb-completed-check-color: $kellyGreen100;
$wizard-footer-initial-height: 53px;
$wizard-header-height: 39px;
$wizard-body-padding-bottom: 50px;
$wizard-sub-header-height: 180px;
